ul {
  list-style: none;
  font-size: 18px;
  justify-content: center;
}

#timerCURRENTTHING {
  visibility: hidden;
}

#hourbox, #minutebox, #secondbox {
  width: 150px;
}

.dock {
  width: auto;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dock-container {
  padding: 5px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}



body {
  background: linear-gradient(-46deg, #202225, #030517);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#ver {
  position: absolute;
  bottom: 0;
  left: 91%;
}

#nav {
  position: absolute;
  top: 0;
  left: 97%;
}

h4,
p1,
p2,
p3 {
  font-weight: lighter;
}

#time {
  font-weight: bolder;
  font-size: 60px;
  backdrop-filter: blur(4px);
}

.center-screen {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-screen>div {
  margin: 10px;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


#pinnedtimezones,
#currentTimers {
  color: #fff;
}

#selectbutton,
.selectbutton {
  -webkit-app-region: no-drag;
  display: inline-block;
  background-color: #25263A;
  color: #fff;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 1.0rem;
  font-size: 1.0rem;
  cursor: pointer;
  margin: 5px;
}

#createbutton {
  -webkit-app-region: no-drag;
  display: inline-block;
  background-color: #639c65;
  color: #fff;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 1.0rem;
  font-size: 1.0rem;
  cursor: pointer;
  margin: 5px;
}

#createbutton:hover {
  background-color: #8cc88e;
}

#close-button,
.close-button {
  -webkit-app-region: no-drag;
  display: inline-block;
  background-color: #351b1b;
  color: #fff;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 1.0rem;
  font-size: 1.0rem;
  cursor: pointer;
  margin: 5px;
}

#selectbutton:hover,
.selectbutton:hover {
  background-color: rgb(62, 63, 97);
}

#close-button:hover,
.close-button:hover {
  background-color: rgb(97, 62, 62);
}

.button-container {
  display: flex;
  justify-content: center;
}

.timer-create-popout,
#timer-create-popout {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #171717;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 40, 0.6);
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #2d2942;
}

#alarms-list-popout {
  display: none;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #171717;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 40, 0.6);
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #2d2942;
}