:root {
    --button-background: rgb(73, 177, 44);
    --button-color: white;
    
    --dropdown-highlight: dodgerblue;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
  }

  ul {
    list-style: none;
    font-size: 18px;
    justify-content:center;
  }

  

  body {
    background: linear-gradient(-45deg, #eb8b5f, #f35151, #235bd5, #16c8df);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display:flex;
    justify-content:center;
  }


  #screensaver {
    background: linear-gradient(-45deg, #945538, #852929, #042262, #0a7c8b) !important;
    background-size: 400% 400% !important;
    animation: gradient 15s ease infinite;
    display:flex;
    justify-content:center;
  }


  #ver {
    position: absolute;
    bottom: 0;
    left: 97%;
  }

  h2, h3, h4, p1, p2, p3 {
    font-weight: lighter;
  }
  
  #time {
    font-weight: bolder;
    font-size: 52px;
  }

  .center-screen {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .center-screen > div {
    margin: 10px;
}


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

#pinnedtimezones, #currentTimers {
    border: solid 3px white;
    max-width: 600px;
    max-height: 800px;
    width: 300px;
    height: 300px;
}

#selectbutton, .selectbutton {
  -webkit-app-region: no-drag;
  display: inline-block;
  background-color: #25263A;
  color: #fff;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 1.0rem;
  font-size: 1.0rem;
  cursor: pointer;
  margin: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
}



/* 
    Custom dropdown menu
*/
a.button {
    /* Frame */
    display: inline-block;
    padding: 20px 28px;
    border-radius: 50px;
    box-sizing: border-box;
    
    /* Style */
    border: none;
    background: var(--button-background);
    color: var(--button-color);
    font-size: 24px;
    cursor: pointer;
  }
  
  a.button:active {
    filter: brightness(75%);
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;
    
    border: none;
  }
  
  .dropdown summary {
    list-style: none;
    list-style-type: none;
  }
  
  .dropdown > summary::-webkit-details-marker {
    display: none;
  }
  
  .dropdown summary:focus {
    outline: none;
  }
  
  .dropdown summary:focus a.button {
    border: 2px solid white;
  }
  
  .dropdown summary:focus {
    outline: none;
  }
  
  .dropdown ul {
    position: absolute;
    margin: 20px 0 0 0;
    padding: 20px 0;
    width: var(--dropdown-width);
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2)  * -1);
    box-sizing: border-box;
    z-index: 2;
    
    background: var(--dropdown-background);
    border-radius: 6px;
    list-style: none;
  }
  
  .dropdown ul li {
    padding: 0;
    margin: 0;
  }
  
  .dropdown ul li a:link, .dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;
    
    color: var(--dropdown-color);
    text-decoration: none;
  }
  
  .dropdown ul li a:hover {
    background-color: var(--dropdown-highlight);
    color: var(--dropdown-background);
  }
  
  /* Dropdown triangle */
  .dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
  }
  
  
  /* Close the dropdown with outside clicks */
  .dropdown > summary::before {
    display: none;
  }
  
  .dropdown[open] > summary::before {
      content: ' ';
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
  }
  

